@charset "ISO-8859-1";

body{
	font-family: 'Open Sans', sans-serif;
	color: white;
}

header{
	text-align: center;
	background: #000040;
	padding: 50px;
}

h1{
	font-size: 40px;
	font-weight: 400;
}

main{
	padding: 50px;
}

h2{
	font-size: 25px;
	font-weight: 400;
	color: black;
	background: rgb(255, 128, 0);
	padding: 20px;
	border-radius: 0 0 10px 10px;
}

h3{
	font-size: 25px;
	font-weight: 400;
	color: black;
	background: #8080ff;
	margin-top: 30px;
	padding: 20px;
	border-radius: 10px 10px 0 0;
}


ul{
	background-color: #b9c2c8;
	padding: 20px;
	border-radius: 0 0 10px 10px;
}

li{
	padding-bottom:30px;
	color: black;
	font-size: 25px;
	font-weight: 400;
}

input {
	border: none;
	border-radius: 5px;
	height: 30px;
}

a{
	padding: 5px;
	border-radius: 5px;
	background: rgb(255, 128, 0);
	font-size: 15px;
	text-decoration: none;
	color:white;
}